### Blinkit Data Analysis

#### Business Requirement:

To conduct a comprehensive analysis of Blinkit's sales performance, customer satisfaction and inventory distribution to identify key insights and opportunities for optimization using various KPI's and visualization in PowerBI.

#### KPI's requirement

 - <b>Total Sales</b>: The overall revenue generated from all items sold.
 - <b>Average Sales</b>: The average revenue per sale.
 - <b>Number of Items</b>: The total counts of different items sold.
 - <b>Average Rating</b>: The average customer rating for items sold.

#### Business Requirement:
##### Charts requirement:

 - Total Sales by Fat content:
    - Objective: Analyze the impact of fat content on total sales.
    - Additional KPI metrics: Assess how other KPIs (Average sales, Number of items, Average rating) vary with fat content.
    - Chart type: Donut chart.

 - Total Sales by Item type:
    - Objective: Identify the performance of different item types in terms of total sales.
    - Additional KPI metrics: Assess how other KPIs (Average sales, Number of items, Average rating) vary with Item type.
    - Chart type: Bar chart.

 - Fat content by Outlet for Total Sales:
    - Objective: Compare total sales across different outlets segmented by fat content.
    - Additional KPI metrics: Assess how other KPIs (Average sales, Number of items, Average rating) vary with Outlet.
    - Chart type: Stacked Column chart.

 - Total Sales by Outlet establishment:
    - Objective: Evaluate how the age or type of outlet establishment influences total sales.
    - Chart type: Line chart.

 - Sales by Outlet Size:
    - Objective: Analyze the correlation between outlet size and total sales.
    - Chart type: Donut/Pie Chart.

 - Sales by Outlet Location:
    - Objective: Assess the geographic distribution of sales across different locations.
    - Chart type: Funnel map.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
df = pd.read_csv("blinkit_data.csv")

In [4]:
df.shape

(8523, 12)

In [5]:
df.head()

,Item Fat Content,Item Identifier,Item Type,Outlet Establishment Year,Outlet Identifier,Outlet Location Type,Outlet Size,Outlet Type,Item Visibility,Item Weight,Sales,Rating
0,Regular,FDX32,Fruits and Vegetables,2012,OUT049,Tier 1,Medium,Supermarket Type1,0.100014,15.10,145.4786,5.0
1,Low Fat,NCB42,Health and Hygiene,2022,OUT018,Tier 3,Medium,Supermarket Type2,0.008596,11.80,115.3492,5.0
2,Regular,FDR28,Frozen Foods,2010,OUT046,Tier 1,Small,Supermarket Type1,0.025896,13.85,165.0210,5.0
3,Regular,FDL50,Canned,2000,OUT013,Tier 3,High,Supermarket Type1,0.042278,12.15,126.5046,5.0
4,Low Fat,DRI25,Soft Drinks,2015,OUT045,Tier 2,Small,Supermarket Type1,0.033970,19.60,55.1614,5.0

In [6]:
df.dtypes

Item Fat Content              object
Item Identifier               object
Item Type                     object
Outlet Establishment Year      int64
Outlet Identifier             object
Outlet Location Type          object
Outlet Size                   object
Outlet Type                   object
Item Visibility              float64
Item Weight                  float64
Sales                        float64
Rating                       float64
dtype: object

In [7]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Item Fat Content,8523,5,Low Fat,5089,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Item Identifier,8523,1559,FDW13,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Item Type,8523,16,Fruits and Vegetables,1232,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Outlet Establishment Year,8523.0,NaN,NaN,NaN,2010.831867,8.37176,1998.0,2000.0,2012.0,2017.0,2022.0
Outlet Identifier,8523,10,OUT027,935,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Outlet Location Type,8523,3,Tier 3,3350,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Outlet Size,8523,3,Medium,3631,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Outlet Type,8523,4,Supermarket Type1,5577,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Item Visibility,8523.0,NaN,NaN,NaN,0.066132,0.051598,0.0,0.026989,0.053931,0.094585,0.328391
Item Weight,7060.0,NaN,NaN,NaN,12.857645,4.643456,4.555,8.77375,12.6,16.85,21.35
Sales,8523.0,NaN,NaN,NaN,140.992782,62.275067,31.29,93.8265,143.0128,185.6437,266.8884
Rating,8523.0,NaN,NaN,NaN,3.965857,0.605651,1.0,4.0,4.0,4.2,5.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item Fat Content           8523 non-null   object
 1   Item Identifier            8523 non-null   object
 2   Item Type                  8523 non-null   object
 3   Outlet Establishment Year  8523 non-null   int64
 4   Outlet Identifier          8523 non-null   object
 5   Outlet Location Type       8523 non-null   object
 6   Outlet Size                8523 non-null   object
 7   Outlet Type                8523 non-null   object
 8   Item Visibility            8523 non-null   float64
 9   Item Weight                7060 non-null   float64
 10  Sales                      8523 non-null   float64
 11  Rating                     8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [9]:
df.isnull().sum()

Item Fat Content                0
Item Identifier                 0
Item Type                       0
Outlet Establishment Year       0
Outlet Identifier               0
Outlet Location Type            0
Outlet Size                     0
Outlet Type                     0
Item Visibility                 0
Item Weight                  1463
Sales                           0
Rating                          0
dtype: int64

In [10]:
df.duplicated().sum()

0

In [11]:
# Item Fat Content: replace "LF" with "Low Fat", "reg" with "Regular"
df['Item Fat Content'] = df['Item Fat Content'].replace({'LF': 'Low Fat', 'reg': 'Regular', 'low fat': 'Low Fat'})
# Outlet Size: replace "High" with "Large"
df['Outlet Size'] = df['Outlet Size'].replace({'High': 'Large'})

In [12]:
df['Item Weight'].mean().round(2)

12.86

In [13]:
# KPIs
# total sales
total_sales = df['Sales'].sum().round(2)

# average sales
avg_sales = df['Sales'].mean().round(0)

# no of items sold
no_of_items_sold = df['Item Identifier'].count()

# average rating
avg_rating = df['Rating'].mean().round(0)

print(f"Total Sales: ${total_sales:,.0f}")
print(f"Average Sales: ${avg_sales:,.0f}")
print(f"Number of Items Sold: {no_of_items_sold:,}")
print(f"Average Rating: {avg_rating:.1f}")

Total Sales: $1,201,681
Average Sales: $141
Number of Items Sold: 8,523
Average Rating: 4.0

In [37]:
# Item Fat Content vs Sales
df.groupby('Item Fat Content')['Sales'].sum().round(2).sort_values(ascending=False).reset_index()

  Item Fat Content      Sales
0          Low Fat  776319.68
1          Regular  425361.80

In [36]:
df.groupby('Item Fat Content')['Item Identifier'].count().reset_index()

  Item Fat Content  Item Identifier
0          Low Fat             5517
1          Regular             3006

In [35]:
df.groupby('Item Fat Content')['Rating'].mean().round(0).reset_index()

  Item Fat Content  Rating
0          Low Fat     4.0
1          Regular     4.0

In [34]:
# Item Type
df.groupby('Item Type')['Sales'].sum().round(2).sort_values(ascending=False).reset_index()

                Item Type      Sales
0   Fruits and Vegetables  178124.08
1             Snack Foods  175433.92
2               Household  135976.53
3            Frozen Foods  118558.88
4                   Dairy  101276.46
5                  Canned   90706.73
6            Baking Goods   81894.74
7      Health and Hygiene   68025.84
8                    Meat   59449.86
9             Soft Drinks   58514.16
10                 Breads   35379.12
11            Hard Drinks   29334.68
12                 Others   22451.89
13          Starchy Foods   21880.03
14              Breakfast   15596.70
15                Seafood    9077.87

In [33]:
df.groupby('Item Type')['Item Identifier'].count().sort_values(ascending=False).reset_index()

                Item Type  Item Identifier
0   Fruits and Vegetables             1232
1             Snack Foods             1200
2               Household              910
3            Frozen Foods              856
4                   Dairy              682
5                  Canned              649
6            Baking Goods              648
7      Health and Hygiene              520
8             Soft Drinks              445
9                    Meat              425
10                 Breads              251
11            Hard Drinks              214
12                 Others              169
13          Starchy Foods              148
14              Breakfast              110
15                Seafood               64

In [32]:
df.groupby('Item Type')['Rating'].mean().round(0).reset_index()

                Item Type  Rating
0            Baking Goods     4.0
1                  Breads     4.0
2               Breakfast     4.0
3                  Canned     4.0
4                   Dairy     4.0
5            Frozen Foods     4.0
6   Fruits and Vegetables     4.0
7             Hard Drinks     4.0
8      Health and Hygiene     4.0
9               Household     4.0
10                   Meat     4.0
11                 Others     4.0
12                Seafood     4.0
13            Snack Foods     4.0
14            Soft Drinks     4.0
15          Starchy Foods     4.0

In [31]:
# Outlet Size
df.groupby('Outlet Size')['Sales'].sum().round(2).sort_values(ascending=False).reset_index()

  Outlet Size      Sales
0      Medium  507895.73
1       Small  444794.17
2       Large  248991.58

In [30]:
df.groupby('Outlet Size')['Item Identifier'].count().sort_values(ascending=False).reset_index()

  Outlet Size  Item Identifier
0      Medium             3631
1       Small             3139
2       Large             1753

In [29]:
df.groupby('Outlet Size')['Rating'].mean().round(0).reset_index()

  Outlet Size  Rating
0       Large     4.0
1      Medium     4.0
2       Small     4.0

In [28]:
# Outlet Size & Item Fat Content
df.groupby(['Outlet Size', 'Item Fat Content'])['Sales'].sum().round(2).reset_index()

  Outlet Size Item Fat Content      Sales
0       Large          Low Fat  122862.29
1       Large          Regular  126129.29
2      Medium          Low Fat  338229.03
3      Medium          Regular  169666.70
4       Small          Low Fat  315228.36
5       Small          Regular  129565.81